.blog_section {
  margin-bottom: 80px;
}

.blog_section .blog_section_title {
  font-size: 1.5rem;
  font-family: poppins;
  text-align: center;
}

.blog_section .blog_section_des {
  text-align: center;
  max-width: 600px;
  margin: 0.5rem auto 3rem auto;
  line-height: 1.3rem;
  color: #000000b0;
  font-size: 0.8rem;
  font-family: poppins;
  padding: 0 10px;
}

.blog_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 360px;
  grid-gap: 1rem;
  max-width: 1000px;
  margin: 1.5rem auto 0px auto;
  padding: 0px 20px;
  justify-items: center;
}

.blog_cart {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.blog_cart .blog_image {
  background: #eee;
  height: 170px;
  display: grid;
  place-items: center;
}

.blog_cart .blog_content {
  padding: 10px 10px 20px 10px;
  border-top: none;
  flex: 1;
  display: grid;
}

.blog_content h5 {
  font-size: 1.15rem;
  font-family: poppins;
  margin: 0.5rem 0px;
}

.blog_content p {
  font-size: 0.8rem;
  color: #0009;
  font-weight: 600;
  line-height: 1.2rem;
}

.blog_content .blog_read_more {
  align-self: flex-end;
  color: var(--secondary_color);
}
